@charset "UTF-8";
.w-100 {
  width: 100% !important;
}

.w-90 {
  width: 90% !important;
}

.w-80 {
  width: 80% !important;
}

.w-75 {
  width: 75% !important;
}

.w-70 {
  width: 70% !important;
}

.w-60 {
  width: 60% !important;
}

.w-50 {
  width: 50% !important;
}

.w-40 {
  width: 40% !important;
}

.w-30 {
  width: 30% !important;
}

.w-25 {
  width: 25% !important;
}

.w-20 {
  width: 20% !important;
}

.w-15 {
  width: 15% !important;
}

.vw-75 {
  width: 75vw !important;
}

.vw-25 {
  width: 25vw !important;
}

.vh-50 {
  height: 50vh !important;
}

.min-h-640 {
  min-height: 640px !important;
}

.min-h-540 {
  min-height: 540px !important;
}

.min-h-360 {
  min-height: 360px !important;
}

.min-h-240 {
  min-height: 240px !important;
}

.min-h-120 {
  min-height: 120px !important;
}

.min-h-100 {
  min-height: 100px !important;
}

.min-h-60 {
  min-height: 60px !important;
}

.min-h-50 {
  min-height: 50px !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.ml {
  margin-left: 1rem;
}

.mr {
  margin-right: 1rem;
}

.success {
  color: #43AC8C !important;
}

.success.bold {
  font-weight: bold;
}

.warn {
  color: #DD4242 !important;
}

.warn.bold {
  font-weight: bold;
}

.contentTop {
  margin-top: 98px;
}

.icon {
  margin: 0 6px 0px 6px;
  padding: 8px;
  display: inline-block;
  position: relative;
  top: 2px;
  border: 0;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.icon.display {
  background-image: url("./../images/ICON/display.svg");
}

.icon.hide {
  background-image: url("./../images/ICON/hide.svg");
}

.icon.clip {
  background-image: url("./../images/ICON/clip.svg");
}

.icon.film {
  background-image: url("./../images/ICON/film.svg");
}

.icon.success {
  background-image: url("./../images/ICON/vector.svg");
}

.icon.error {
  background-image: url("./../images/ICON/error.svg");
}

.icon.location {
  background-image: url("./../images/ICON/location.svg");
}

.icon.note {
  background-image: url("./../images/ICON/note.svg");
}

.icon.delete {
  background-image: url("./../images/ICON/delete.svg");
}

.icon.edit {
  background-image: url("./../images/ICON/ma.svg");
}

.icon.link {
  cursor: url("./../images/Hover.cur"), pointer !important;
}

.icon.float {
  position: absolute;
}

.icon.iLeft {
  left: 1rem;
  top: 0.75rem;
}

.icon.iRight {
  right: 1rem;
  top: 0.75rem;
}

.button {
  font-family: Noto Sans TC !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 20px !important;
  border-radius: 5px !important;
  min-width: 92px !important;
  height: 36px !important;
}

.button:hover {
  background: #4C7DA2 !important;
  color: white !important;
  cursor: url("./../images/Hover.cur"), pointer !important;
}

.button.btnL {
  width: 115px !important;
}

.button.btnM {
  width: 108px !important;
}

.button.btnS {
  width: 92px !important;
}

.button.mainBtn {
  background-color: #4C7DA2 !important;
  color: white !important;
}

.button.mainBtn:hover {
  background: #344059 !important;
  color: white !important;
}

.button.loginBtn {
  background-color: #4C7DA2 !important;
  color: white !important;
  height: 55px !important;
  font-size: 20px !important;
}

.button.loginBtn:hover {
  background: #344059 !important;
  color: white !important;
}

.button.blankBtn {
  border: 2px solid #4C7DA2 !important;
  background-color: white !important;
  color: #4C7DA2 !important;
}

.button.blankBtn:hover {
  background: #4C7DA2 !important;
  color: white !important;
}

.button.selectBtn {
  background-color: #AAC9DF !important;
  color: #344059 !important;
  margin: 5px 2.5px !important;
}

.button.submitBtn {
  background-color: #4C7DA2 !important;
  color: white !important;
  margin: 5px 2.5px !important;
}

.button.openBtn {
  background-color: white !important;
  color: #4C7DA2 !important;
  border: 1px solid #4C7DA2 !important;
  margin: 5px 2.5px !important;
}

.button.cancelBtn {
  background-color: #DCE6ED !important;
  color: #4A4A4A !important;
}

.button.cancelBtn:hover {
  background: #4C7DA2 !important;
  color: white !important;
}

.button.searchBtn {
  background-color: #4C7DA2 !important;
  color: white !important;
}

.button.filterBtn {
  background: url(../Images/ICON/filter.svg) no-repeat left #4C7DA2 !important;
  background-origin: content-box !important;
}

.button.updateBtn {
  background: url(../Images/ICON/update_now.svg) no-repeat left white !important;
  background-origin: content-box !important;
  border: 2px solid #4C7DA2 !important;
  color: #4C7DA2 !important;
}

.button.updateBtn:hover {
  background: url(../Images/ICON/update_now_hover.svg) no-repeat left #4C7DA2 !important;
  background-origin: content-box !important;
  color: white !important;
}

.button.isdisable {
  background-color: #484848 !important;
  color: white !important;
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .button {
    min-width: 80px !important;
    font-size: 0.5rem !important;
  }
}

.swal2-confirm {
  background: #4C7DA2 !important;
  color: white !important;
}

.swal2-cancel {
  background: #6e7d88 !important;
  color: white !important;
}

.swal2-deny {
  background: #ea5455 !important;
  color: white !important;
}

.active {
  display: block !important;
}

.closed {
  display: none !important;
}

.initial {
  display: initial !important;
}

body {
  font-family: "Microsoft JhengHei" !important;
}

.main-content {
  margin-top: 98px;
  display: initial;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: #506375;
  width: 100%;
  color: white;
}

@media (max-width: 479px) {
  footer {
    display: none;
  }
}

.pageNameTitle {
  color: #344059;
}

.switchpage {
  background-color: #4C7DA2;
  color: white;
}

.switchpage label {
  border: solid 2px white;
  border-radius: 5px;
}

.switchbar {
  position: relative;
  display: inline-block;
}

#div_SystemMa {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.switch-tab {
  position: relative;
  /*width: 50%;*/
  border-bottom: 7px solid #DDECF6;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  font-weight: 600;
}

@media (max-width: 479px) {
  .switch-tab {
    width: 100%;
  }
}

.switch-tab .switch-tab-title {
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.switch-tab .switch-tab-title:hover {
  color: #4C7DA2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 479px) {
  .switch-tab .switch-tab-title {
    width: 50%;
  }
}

.switch-tab .switch-tab-title.active {
  color: #4C7DA2;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.switch-tab .scroll-bar {
  position: absolute;
  bottom: -7px;
  border-bottom: 7px solid #FCD76E;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.messageTable, .alertTable, .logicTable {
  overflow: auto;
}

.messageTable::-webkit-scrollbar, .alertTable::-webkit-scrollbar, .logicTable::-webkit-scrollbar {
  width: 8px;
}

.messageTable::-webkit-scrollbar-track, .alertTable::-webkit-scrollbar-track, .logicTable::-webkit-scrollbar-track {
  background: #E5EEF4;
}

.messageTable::-webkit-scrollbar-thumb, .alertTable::-webkit-scrollbar-thumb, .logicTable::-webkit-scrollbar-thumb {
  background: #E5EEF4;
}

.logicTable {
  height: 491px;
}

@media (max-width: 1280px) {
  .logicTable {
    height: 232px;
  }
}

@media (max-width: 1440px) {
  .logicTable {
    height: 318px;
  }
}

@media (max-width: 1600px) {
  .logicTable {
    height: 404px;
  }
}

.logicTable table {
  margin-bottom: 0;
}

.logicTable .outer {
  overflow: auto;
}

.logicTable .outer::-webkit-scrollbar {
  width: 8px;
}

.logicTable .outer::-webkit-scrollbar-track {
  background: #E5EEF4;
}

.logicTable .outer::-webkit-scrollbar-thumb {
  background: #AAC9DF;
}

.alertSetup,
.alertQueue {
  display: none;
}

.alertSetup select, .alertSetup input,
.alertQueue select,
.alertQueue input {
  width: 170px;
}

@media (max-width: 479px) {
  .alertSetup select, .alertSetup input,
  .alertQueue select,
  .alertQueue input {
    width: 170px;
  }
}

.alertMessage select, .alertMessage input {
  width: 150px;
}

@media (max-width: 1440px) {
  .alertMessage select, .alertMessage input {
    width: 145px;
  }
}

@media (max-width: 479px) {
  .alertMessage select, .alertMessage input {
    width: 170px;
  }
}

.form-control {
  display: inline-block;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #829196;
  color: #7E909D;
}

.form-control ::-webkit-input-placeholder {
  color: #7E909D;
}

.form-control :-ms-input-placeholder {
  color: #7E909D;
}

.form-control ::-ms-input-placeholder {
  color: #7E909D;
}

.form-control ::placeholder {
  color: #7E909D;
}

.form-control.datepicker {
  border: 1px solid #829196 !important;
  font-size: unset !important;
  height: calc(1.5em + .75rem + 2px) !important;
}

.pagechange {
  text-align: end;
  padding: 8px;
}

.pagechange input {
  width: 2rem;
}

.pagechange img {
  cursor: pointer;
}

.setBtnArea div {
  padding: 0;
}

@media (min-width: 768px) {
  .setBtnArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .setBtnArea {
    display: block;
  }
}

/*table {
    width: 100%;
    text-align: center;

    tr {
        th {
            font-weight: bold;
            font-size: 16px;
            background-color: $color-suppor;
            color: $color-major;
            border: solid 1px #ddd;
        }

        td {
            font-weight: bold;
            font-size: 16px;
            border: solid 1px #ddd;
        }
    }
}*/
/*.btn-search {
    font-size: 16px;
    background-color: $color-dark !important;
    color: $color-white;
    padding: 6px 12px;

    &:hover {
        background-color: unset;
    }

    @media (max-width: 767px) {
        width: 100%;
    }
}*/
/*width: 100%;*/
/*margin: 0 10px;
    display: -webkit-inline-box;*/
/*div {

        @media (min-width: 768px) {
            width: unset;
            flex: unset;
            max-width: unset;
        }
    }*/
.rowModal {
  display: contents;
}

#btn-addAlert {
  font-size: 16px;
  background-color: white;
  border: solid 1px #344059;
  color: #344059;
  padding: 6px 12px;
}

#btn-addAlert:hover {
  color: #344059;
}

@media (max-width: 767px) {
  #btn-addAlert {
    width: 100%;
  }
}

#searchData_His {
  color: white;
  padding: 0px;
  padding-left: 14px;
}

#exportexcel:hover {
  color: white;
}

.btn-area {
  text-align: center;
}

.btn-area #cancel {
  background-color: #DDECF6 !important;
  color: #344059;
  max-width: calc((100% / 2) - 30px);
  width: 100%;
}

.btn-area #addAlert {
  background-color: #4C7DA2 !important;
  max-width: calc((100% / 2) - 30px);
  width: 100%;
}

#btn-addAlert {
  background-color: white;
  color: #344059;
}

#btn-addAlert:hover {
  color: white;
}

.SetupTest {
  display: inline-block;
  margin-bottom: 5px;
}

.SetupTest button {
  vertical-align: baseline;
}

@media (max-width: 767px) {
  .SetupTest button {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .newCol {
    text-align: center;
    width: 100%;
  }
}

.rowSetup {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.tabledisplay {
  overflow-x: auto;
}

@media (max-width: 479px) {
  .datepicker.input-box {
    width: 100%;
  }
}

#ooo .modal-content .modal-header, #ooo .modal-content .modal-body, #ooo .modal-content .modal-footer, #warningMsg .modal-content .modal-header, #warningMsg .modal-content .modal-body, #warningMsg .modal-content .modal-footer {
  text-align: center;
}

#ooo .modal-content .modal-header, #ooo .modal-content .modal-body, #warningMsg .modal-content .modal-header, #warningMsg .modal-content .modal-body {
  color: #344059;
}

#ooo .modal-content .modal-header, #ooo .modal-content .modal-footer, #warningMsg .modal-content .modal-header, #warningMsg .modal-content .modal-footer {
  border: none;
}

#ooo .modal-content .modal-footer, #warningMsg .modal-content .modal-footer {
  display: block;
}

#ooo .modal-content .modal-title, #warningMsg .modal-content .modal-title {
  width: 100%;
}

#ooo .modal-content #modalCancel, #warningMsg .modal-content #modalCancel {
  color: #344059;
  background: #DDECF6;
}

#ooo .modal-content #modalOK, #warningMsg .modal-content #modalOK {
  color: white;
  background: #344059;
}

.warnlevel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mailarea #email {
  border: 0;
}

#mailarea img {
  width: 20px;
  height: 20px;
}

#mailarea img:hover {
  cursor: pointer;
}

#EstabList {
  max-height: 150px;
  overflow-y: auto;
}

#EstabList label {
  width: calc(100% - 25px);
}

#EstabList img {
  width: 20px;
  height: 20px;
}

#EstabList img:hover {
  cursor: pointer;
}

/*table 凍結*/
.scrolling.outer table {
  table-layout: inherit;
}

.scrolling.outer td, .scrolling.outer th, .scrolling.outer tr {
  vertical-align: top;
  padding: 10px;
  min-width: 120px;
}

/*.scrolling td, th {
        vertical-align: top;
        padding: 10px;
        min-width: 120px;
    
}*/
.outer {
  position: relative;
}

.inner {
  overflow-x: auto;
  overflow-y: visible;
  margin-left: 480px;
}

.inner::-webkit-scrollbar {
  width: 8px;
}

.inner::-webkit-scrollbar-track {
  background: #E5EEF4;
}

.inner::-webkit-scrollbar-thumb {
  background: #AAC9DF;
}

/*.table-condensed{
    thead,tbody,tfoot{
        tr{
            th,td{
                padding:5px;
            }
        }
    }
}*/
.table thead tr td, .table tbody tr td, .table tfoot tr td {
  max-width: 120px;
}

#table_Aset tr td, #table_Aset tr th {
  vertical-align: top;
  padding: 10px;
  min-width: 120px;
}

#tabletest tbody tr, #table_Alert tbody tr {
  background-color: white;
}

#tabletest tbody tr:hover th, #tabletest tbody tr:hover td, #tabletest tbody tr:nth-child(1) th, #tabletest tbody tr:nth-child(1) td, #table_Alert tbody tr:hover th, #table_Alert tbody tr:hover td, #table_Alert tbody tr:nth-child(1) th, #table_Alert tbody tr:nth-child(1) td {
  background-color: #D0EAEC;
}

#table_Aset tr {
  background-color: white;
}

#table_Aset tr:hover, #table_Aset tr:nth-child(1) {
  background-color: #D0EAEC;
}

.tableList, .tableAlert {
  text-align: center;
}

.tableList thead tr:nth-child(1) th, .tableList thead tr:nth-child(1) td, .tableAlert thead tr:nth-child(1) th, .tableAlert thead tr:nth-child(1) td {
  background-color: #D0EAEC;
}

.tableList thead tr th, .tableAlert thead tr th {
  min-width: 80px !important;
}

.tableList tbody tr, .tableAlert tbody tr {
  background-color: white;
}

.tableList tbody tr td, .tableAlert tbody tr td {
  min-width: 80px !important;
}

#div_HistoryDetail {
  overflow-x: auto;
}

#div_HistoryDetail tr {
  background-color: white;
}

#div_HistoryDetail tr td, #div_HistoryDetail tr th {
  vertical-align: top;
  padding: 10px;
  min-width: 120px;
}

#div_HistoryDetail tr:hover, #div_HistoryDetail tr:nth-child(1) {
  background-color: #D0EAEC;
}

#historyModal .bootstrap-datetimepicker-widget {
  left: 5px !important;
  right: auto !important;
}

@media (min-width: 768px) {
  .modal-history {
    width: 800px !important;
    max-width: 800px !important;
  }
}

/*btn*/
.btn {
  border-radius: .35rem;
}

#btnSearch_Filter, #btnSearch_Aset {
  font-size: 16px;
  background-color: #4C7DA2 !important;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}

#btnSearch_Filter:hover, #btnSearch_Aset:hover {
  background-color: unset;
}

@media (max-width: 767px) {
  #btnSearch_Filter, #btnSearch_Aset {
    width: 100%;
  }
}

.alertTitle {
  line-height: 50px;
  margin: 40px 0px 10px;
}

/*三期樣式*/
.modal-pop.sm {
  max-width: 360px;
  margin: calc( 50vh - 150px) auto;
}

.modal-pop.md {
  max-width: 480px;
  margin: calc( 50vh - 200px) auto;
}

.modal-pop.xl {
  max-width: 600px;
  margin: calc( 50vh - 300px) auto;
}

.modal-pop p {
  font-family: 'Noto Sans TC','Microsoft JhengHei';
  color: #4A4A4A;
  letter-spacing: 0.125rem;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
}

.modal-pop textarea {
  background: #FFFFFF !important;
  border: 1px solid #829196 !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  border-radius: 5px !important;
  color: #7E909D !important;
  padding: 10px !important;
}

.modal-pop input {
  border: 1px solid #829196 !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  border-radius: 5px !important;
}

.modal-pop input ::-webkit-input-placeholder {
  color: #7E909D;
}

.modal-pop input :-ms-input-placeholder {
  color: #7E909D;
}

.modal-pop input ::-ms-input-placeholder {
  color: #7E909D;
}

.modal-pop input ::placeholder {
  color: #7E909D;
}

.modal-pop button {
  height: 36px;
  padding: 0;
  margin: 0 0.375rem;
}

.modal-pop .modal-title {
  font-family: 'Noto Sans TC','Microsoft JhengHei';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #344059;
  margin: 0.375rem 0;
}

.modal-pop .modal-title.fs24 {
  font-size: 24px;
}

.modal-pop .modal-header {
  margin: 1rem 0 0;
}

.modal-pop .modal-main-title {
  margin: 0 1rem;
}

.modal-pop .model-history-box {
  padding: 0 1.5rem;
}

.modal-pop .modal-footer {
  padding-bottom: 2rem;
}

.modal-pop .form-control {
  border: 1px solid #C1D5DC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.modal-pop .inputBox {
  position: relative;
  border-radius: 5px 5px 0 0;
  background-color: #E5EEF4;
  padding: 5px;
}

.modal-pop .inputBox .addIcon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal-pop .emailBox div {
  padding: 3px 8px;
  background-color: #E5EEF4;
  position: relative;
}

.modal-pop .emailBox div label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-pop .emailBox div img {
  position: absolute;
  right: 15px;
  top: 12px;
}

.modal-pop .emailBox::-webkit-scrollbar {
  width: 8px;
}

.modal-pop .emailBox::-webkit-scrollbar-track {
  background: #E5EEF4;
}

.modal-pop .emailBox::-webkit-scrollbar-thumb {
  background: #AAC9DF;
}

.modal-pop .mailList {
  padding: 0 5%;
  background-color: #E5EEF4;
}

.modal-pop .mailList div {
  border-bottom: 0.5px solid #4A4A4A;
}

.modal-pop .mailList div label {
  width: 90%;
}

.modal-pop .mailList::-webkit-scrollbar {
  width: 8px;
}

.modal-pop .mailList::-webkit-scrollbar-track {
  background: #E5EEF4;
}

.modal-pop .mailList::-webkit-scrollbar-thumb {
  background: #AAC9DF;
}

.modal-pop .form-inline .rowModal {
  display: initial !important;
  margin: 0 5px;
}

.modal-pop .form-inline .rowModal label {
  display: initial !important;
}

.swal-wide {
  width: 360px !important;
  height: 250px !important;
}

.toggleAnimate {
  position: absolute;
  -webkit-animation-name: example1;
          animation-name: example1;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

.closeAnimate {
  -webkit-animation-name: example2;
          animation-name: example2;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

@-webkit-keyframes example1 {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes example1 {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes example2 {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}

@keyframes example2 {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}
/*# sourceMappingURL=Feeder.css.map */