$color-major: #4C7DA2;
$color-second1: #DDECF6;
$color-second2: #FFFFFF;
$color-prompt: #FCD76E;
$color-warming: #E76D6D;

$color-black: #344059;

//顏色變量
$color-suppor: #DDECF6;
$color-white: white;
$color-prompt: #FCD76E;
$color-dark: #344059;
$color-warning: #D0414E;
$color-footer: #506375;
$color-table-hover: #D0EAEC;
$color-scroll: #AAC9DF;
$color-scroll-blank: #E5EEF4;
$color-tag: #DAEBF1;
$color-label: #DDECF5;
$color-text-major: #484848;
$color-table-even: #F4F7F9;
$color-input-text: #7E909D;
$color-cancel-btn: #DCE6ED;
$color-btn-text: #4A4A4A;

//文字變量
$font-family: 'Microsoft JhengHei';
//寬度變量
$w-100:100%;
$w-90:90%;
$w-80:80%;
$w-75:75%;
$w-70:70%;
$w-60:60%;
$w-50:50%;
$w-40:40%;
$w-30:30%;
$w-25:25%;
$w-20:20%;
$w-15:15%;