@import "global-style";

.navbar{
    position: fixed;
    top:0;
    z-index: 1000;
    @include breakpoint(view-1440){
        .m-title{
            font-size: 1rem !important;
        }
    }
    @include breakpoint(view-1200){
        .m-title{
            font-size: 0.75rem !important;
        }
        .navbar-nav{
            .nav-item{
                padding: 0 !important;
                .nav-link,label{
                    font-size: 0.75rem !important;
                }
            }
        }
    }
    @include breakpoint(view-1024){
        .m-title{
            font-size: 0.75rem !important;
        }
        .navbar-nav{
            .nav-item{
                padding: 0 !important;
                .nav-link,label{
                    font-size: 0.75rem !important;
                }
            }
        }
    }
}

#divMapBaseOperation{
    z-index: 999 !important;
}

.GLayerSwitchDialog{
    z-index: 1000 !important;
}

#tblLogInForm{
    position: absolute !important;
    left: calc(50% - 400px) !important;
    top: calc(50% - 120px) !important;
    width: 800px !important;
}

.divAnnounceBox{
    position: absolute;
    top: 98px;
    right:0;
    width: 720px;
    height: 480px;
    background-color: #fff;
    z-index: 1000;
    .divAnnounceTitle{
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.115em;
        color: #344059;
        background: #DDECF6;
        line-height: 30px;
        position: relative;
        .float{
            top: 5px;
        }
        .arrowDown{
            right: 3rem;
        }
    }
    .divSwitchTab{
        .switch-tab-title{
            width: 33%;
        }
    }

    .divAnnounceContent{
        .setupArea{
            display: flex;
            .SetupTest{
                width: 15%;
                margin: 0 2.5px;
                input{
                    width: 100%;
                }
                .setBtnArea{
                    display: flex;
                    .setBtnBox{
                        width: 45%;
                        display: flex;
                        margin: 0 2.5px;
                        button{
                            min-width: 50px !important;
                            width: 100%;
                        }
                    }
                }
            }
            .form-control{
                font-size: 14px;
                padding: 0.5em;
            }
        }
        .announceTable{
            margin-top: 5px;
            table{
                text-align: center;
                thead{
                    font-family: Noto Sans TC;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    align-items: center;
                    text-align: center;
                    color: #344059;
                    background: #D0EAEC;
                    th{
                        min-width: 40px;
                        &.th_m{
                            min-width: 60px;
                        }
                        &.th_l{
                            min-width: 100px;
                            max-width: 120px;
                        }
                    }
                }
                tbody{
                    td{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 120px;
                        .icon{
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}