@import "global-style";
@import "mixin";

.navbar{
    position: fixed;
    top:0;
    z-index: 1000;
    @include breakpoint(view-1440){
        .m-title{
            font-size: 1rem !important;
        }
    }
    @include breakpoint(view-1200){
        .m-title{
            font-size: 0.75rem !important;
        }
        .navbar-nav{
            .nav-item{
                padding: 0 !important;
                .nav-link,label{
                    font-size: 0.75rem !important;
                }
            }
        }
    }
    @include breakpoint(view-1024){
        .m-title{
            font-size: 0.75rem !important;
        }
        .navbar-nav{
            .nav-item{
                padding: 0 !important;
                .nav-link,label{
                    font-size: 0.75rem !important;
                }
            }
        }
    }
}

#divMapBaseOperation{
    z-index: 999 !important;
}

.GLayerSwitchDialog{
    z-index: 1000 !important;
}

#tblLogInForm{
    position: absolute !important;
    left: calc(50% - 400px) !important;
    top: calc(50% - 120px) !important;
    width: 800px !important;
}

.divAnnounceBox{
    position: absolute;
    top: calc( 98px + 0.5em );
    right: 0.5em;
    width: 720px;
    height: 550px;
    background-color: #fff;
    z-index: 1000;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    &.toggleUp{
        height: 280px;
        .divAnnounceContent{
            .announceTable{
                height: 120px;
            }
        }
    }
    .divAnnounceTitle{
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.115em;
        color: #344059;
        background: #DDECF6;
        line-height: 30px;
        position: relative;
        .float{
            top: 5px;
        }
        .arrowDown{
            right: 3rem;
            cursor: pointer;
        }
    }
    .divSwitchTab{
        .switch-tab-title{
            width: 33%;
        }
    }

    .divAnnounceContent{
        padding: 0 0.5em;
        .setupArea{
            position: relative;
            display: flex;
            .SetupTest{
                width: 16%;
                margin: 0 2.5px;
                input{
                    width: 100%;
                    &.input-box{
                        cursor: pointer;
                        &.hideIcon{
                            background: none;
                        }
                        &.datepicker{
                            padding: 0 0.25em;
                        }
                    }
                    .dropdown{
                        display: inline-block;
                    }
                }
                .setBtnArea{
                    display: flex;
                    .setBtnBox{
                        width: 45%;
                        display: flex;
                        margin: 0 2.5px;
                        button{
                            min-width: 50px !important;
                            width: 100%;
                        }
                    }
                }
            }
            .form-control{
                font-size: 14px;
                padding: 0.5em 0.25em;
            }
        }
        .announceTable{
            margin-top: 5px;
            height: 390px;
            overflow: auto;
            &::-webkit-scrollbar{
                width: 8px;
            }
            &::-webkit-scrollbar-track{
                background: $color-scroll-blank;
            }
            &::-webkit-scrollbar-thumb{
                background: $color-scroll;
            }
            table{
                text-align: center;
                thead{
                    font-family: Noto Sans TC;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    align-items: center;
                    text-align: center;
                    color: #344059;
                    background: #D0EAEC;
                    position: sticky;
                    top: 0;
                    z-index: 100;
                    th{
                        min-width: 36px;
                        position: relative;
                        &.th_m{
                            min-width: 60px;
                        }
                        &.th_l{
                            min-width: 100px;
                            max-width: 120px;
                        }
                        input[type=checkbox]{
                            display: none;
                            &:checked+label{
                                background-image: url("./../images/ICON/select.svg");
                                background-position: center;
                                border: none;
                            }
                        }
                        label{
                            position: absolute;
                            top: 0.25em;
                            left: 0.5em;
                            border: 2px solid #829196;
                            border-radius: 2px;
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
                tbody{
                    td{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 120px;
                        position: relative;
                        @include noto-sans-tc-14-medium;
                        .icon{
                            padding: 10px;
                            cursor: pointer;
                        }
                        &.time{
                            text-overflow: initial;
                            overflow: initial;
                            word-break: break-word;
                            word-wrap: break-word;
                            white-space: initial;
                        }
                        input[type=checkbox]{
                            display: none;
                            &:checked+label{
                                background-image: url("./../images/ICON/select.svg");
                                background-position: center;
                                border: none;
                            }
                        }
                        label{
                            position: absolute;
                            top: 0.75em;
                            left: 0.5em;
                            border: 2px solid #829196;
                            border-radius: 2px;
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
            }
        }
        .announceBtn{
            float: right;
            padding: 0 5px;
            margin: 5px 0;
        }
        .announceSelect{
            display: flex;
            position: absolute;
            bottom: 1em;
            left: 1em;
        }
    }
}

.modalBox{
    font-family: Noto Sans TC;
    .modal-dialog{
        &.oneColumn{
            max-width: 320px;
        }
        &.twoColumn{
            max-width: 640px;
        }
        .mheader{
            border-bottom: 0px;
            .modal-title{
                color: #344059;
                @include noto-sans-tc-16-bold;
            }
        }
        .mbody{
            padding: 0.5rem 1rem;
            .modal-body-content{
                margin: 0 5px;
                .form-group{
                    margin-bottom: 0.5em;
                    label{
                        color:#344059;
                        @include noto-sans-tc-14-medium;
                    }
                }
                .btn-group{
                    button{
                        margin-top: 0;
                        box-shadow: none;
                        background: #B6CCDC !important;
                        box-sizing: border-box !important;
                        border-radius: 0px 5px 5px 0px !important;
                        color: white !important;
                        &.active{
                            background: #BCE3FF !important;
                            border: 1px solid #4C7DA2 !important;
                            box-sizing: border-box !important;
                            color: #4C7DA2 !important;
                        }
                        &:first-child{
                            border-radius: 5px 0px 0px 5px !important;
                        }
                        &:last-child{
                            border-radius: 0px 5px 5px 0px !important;
                        }
                    }
                }
            }
        }
        .mfooter{
            justify-content: center;
            border-top: 0px;
        }
    }
}
